AIRTABLE_API_KEY=keyAAAAAAAAAAAAAA
CORE_BASE_ID=appAAAAAAAAAAAAAA
MOVEMENT_BASE_ID=appAAAAAAAAAAAAAA
TIMEKEEPING_BASE_ID=appAAAAAAAAAAAAAA
LARK_TENANT_SUBDOMAIN=aaaa-aaaaaaaaaaaa
LARK_APP_ID=cli_aaaaaaaaaaaaaaaa
LARK_APP_SECRET=AAAAAAAAAAAAAAAAaaaaaaaaaaaaaaaa
REACT_APP_EMPLOYEE_FORM_URL=https://airtable.com/shrAAAAAAAAAAAAAA
ENABLE_SYNC=1
